.jersey-15-regular {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: rgb(239, 251, 252);
}
header {
  border-bottom: 1px solid rgb(233, 230, 230);
  padding: 0 0 30px 0;
}
.weather-project {
  background-color: rgb(245, 226, 190);
  margin: 100px auto;
  padding: 30px;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
.search-form-input {
  background-color: rgb(233, 230, 230);
  width: 70%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}
.search-form-button {
  background: cornflowerblue;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 15px;
}
.current-data {
  display: flex;
  justify-content: space-between;
}
main {
  padding: 20px 0;
}
.current-city {
  padding: 0;
  font-size: 40px;
  line-height: 45px;
  color: cornflowerblue;
}
.current-details {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 20px;
}
.humedity {
  color: cornflowerblue;
  font-weight: bold;
}
.current-degree {
  display: flex;
  padding-top: 30px;
  color: cornflowerblue;
}
.current-degree-icon {
  width: 60px;
  height: 60px;
  margin-top: 5px;
}
.current-degree-number {
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
}
.current-degree-unit {
  margin-top: 10px;
  font-size: 20px;
}
.weather-forcast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forcast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forcast-icon {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
.weather-forcast-temp {
  text-align: center;
  display: flex;
  justify-content: center;
  color: cornflowerblue;
  margin-top: 10px;
}
.degree {
  padding: 0 10px;
}
footer {
  border-top: 1px solid rgb(233, 230, 230);
  padding: 30px 0 0 0;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
a {
  color: cornflowerblue;
  cursor: pointer;
}
