.jersey-15-regular {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: rgb(233, 230, 230);
}
.weather-project {
  background-color: whitesmoke;
  margin: 30px auto;
  padding: 30px;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
